	

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script>
// Create the chart
    $(function () {  
    $('#dummy').highcharts({
    chart: {
        type: 'column'
    },
    title: {
        text: '7 Day Snow Forecast'
    },
    subtitle: {
        text: 'Click the columns to view 24 hour data. Source: <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>.'
    },
    xAxis: {
        type: 'category',
        tickInterval: 1
    },
    yAxis: {
        title: {
            text: 'Forecasted Snow Accumulation (in)'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.2f} in'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">Forecast</span><br>',
        pointFormat: '{point.name}<br>{point.y:.2f} in<br/>'
    },

    series: [{
        name: 'Days',
        colorByPoint: true,
        data: [
          <% for (let i=0; i<forecastData.daily.length; i++) {%>
            {
              y: <%= forecastData.daily[i].precipAccumulation %>,
              drilldown: '<%= forecastData.daily[i].time.format("MMM Do") %>',
              name: '<%= forecastData.daily[i].time.format("MMM Do") %>'
            }, 
          <% } %>
        ]
    }],
    drilldown: {
        series: [
            <% for (let i=0; i<forecastData.daily.length; i++) {%>
              {
              name: '<%= forecastData.daily[i].time.format("MMM Do") %>',
              id: '<%= forecastData.daily[i].time.format("MMM Do") %>',
              data: [
                <% for (let j=0; j<forecastData.daily[i].hourly.length; j++) {%>  
                  ['<%= forecastData.daily[i].hourly[j].time.format("h A") %>', <%= forecastData.daily[i].hourly[j].precipAccumulation %> ],
                <% } %>
              ]
            }, 
          <% } %>
          ]
        }
    })
});
    
  </script>

<body>
  
  <div id="dummy" ></div>
</body>